# Rust
/target

# Downloaded package library
/arrrv_lib

# Force-include Cargo.lock (overrides global *.lock rule)
!Cargo.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Vim
*.swp
*.swo
*~
.netrwhist
